<h1 class="mb-5">Game of life</h1>

<%= link_to "New board", new_board_path, class: 'btn btn-lg btn-light fw-bold border-white bg-white m-2' %>
<%= link_to "Show boards", boards_path, class: 'btn btn-lg btn-outline-light m-2' %>
