<% content_for :title, "Boards" %>

<h1>Boards <%= link_to "New board", new_board_path, class: "btn btn-light fw-bold" %></h1>

<div id="boards" class="mt-5">
  <% @boards.each do |board| %>
    <div class="mb-3">
        <%= render board %>
        <div class="mt-1">
          <%= link_to "Show this board", board, class: "btn btn-outline-light fw-bold" %>
        </div>
    </div>
  <% end %>
</div>

